.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 70%;
    overflow: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

/* .container::-webkit-scrollbar { 
    display: none;
} */

.card {
    background-color: lightblue;
    margin: 10px;
    scroll-snap-align: center;
}

.card img {
    width: 300px;
}